form(action='/account/login#{redirectTo}', method='post')
  input#email(type='text', name=everyauth.password.loginFormFieldName, value=email, title="Informe seu e-mail.")
  input#email(type='text', name=everyauth.password.passwordFormFieldName, value=email, title="Informe a senha")
  input(type='submit')
